<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CustomerChoosedMenuMapper">
    <insert id="addCuschooseMenu" parameterType="java.util.List" useGeneratedKeys="false" >
            insert into (waterNumId,goodsId,num)
            <foreach collection="list" item="item" index="index" separator=",">
                (#{waterNumId,goodsId,num})
            </foreach>
    </insert>

    <select id="getCusChooseMenuBydefault" resultType="CustomerChoosedMenu">
            select ccmId,waterNumId,goodsId,num from CustomerChoosedMenu
    </select>

    <select id="getCusChooseMenuByWaterNum" parameterType="String" resultType="CustomerChoosedMenu">
            select ccmId,waterNumId,goodsId,num from CustomerChoosedMenu where waterNumId=#{id}
    </select>
</mapper>